:root {
  --color-primary: rgb(0, 0, 0); 
  --color-secondary: rgb(184,184,184);
  --color-background: rgb(250, 250, 255); 
  --color-youtube-red: rgb(255, 0, 0);
  --color-background-dm: rgb(15,15,15);
  --color-bluegray: rgb(78, 81, 94);

  --color1: #d3513e;
  --color2: #e0b467;
  --color3: #6bb7ee;

}


#overlay img {
  padding-bottom: 20px;
}

.dragover #overlay{
  display: block;
}

#ab__test__overlay {
  position: fixed;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-color: black;
  opacity: 0;
  pointer-events:none;
}

#ab__test__overlay.unfocus {
  opacity: 0.6;
  pointer-events: all;
}






body {
    font-family: "Poppins";
    background-color: #f9f9f9;
    transition: 250ms;
}



body.darkmode {
  background-color: var(--color-background-dm);
}



/* HEADER STUFF */
.header {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 28px;
    display: flex;
    direction: row;
}

.header__left {
    display: flex;
    direction: row;
    align-items: center;
    gap: 11px;
    font-family: "Montserrat";
    font-weight: 900;
    letter-spacing: -2px;
}



#headertext1 {
  color:rgb(29, 30, 35)
}

.darkmode #headertext1 {
  color:rgb(255, 255, 255)
}

#headertext2 {
  color: var(--color-bluegray);
  cursor: default;
}

.darkmode #headertext2 {
  color: rgb(255, 255, 255);
}

.duckyspfp {
    width: 55px;
    height: 55px;
    transform: scale(1.3);
}

.darkmode .duckyspfp {
  filter:grayscale() invert();
}

.duckyspfp:hover {
  transform: scale(1.4);
}

#letter1 {
  color: var(--color1);
}
#letter2 {
  color: var(--color2);
}
#letter3 {
  color: var(--color3);
}
#letter1, #letter2, #letter3 {
  letter-spacing: 0px;
  cursor: default;
}

/* MENU STUFF */



.image__preview {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.thumbnail__example {
  width: 690px;
  border-radius: 15px;
  transition: 450ms;
  cursor:pointer;
}


.thumbnail__example:hover {
    transform: scale(1.02);
    filter: brightness(0.3);
}

@media screen and (max-width:720px) {
  .header__left {
    justify-self: center;
    justify-content: center;
    width: 10%;
    font-size: small;
  }
  
  .thumbnail__example {

    width: 105%;
  }

  #hideicon {
    width: 100%;
  }

  .thumbnail__example:hover + .hide {
    display: none;
    opacity: 0%;
  }

  .controls__container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer {
    margin-bottom: 150px;
  }

}

@media screen and (max-width:473px) {
  #btn__randomize__order div{
    display: none;
  }
  #btn__randomize__order:after {
    content: 'Shuffle';
  }
  #btn__toggle__darkmode div {
    display: none;
  }
  #btn__toggle__darkmode:after {
    content: 'Dark Mode';
  }

}

@media screen and (max-width: 700px) {
  #btn__toggle__mobile {
    display: none !important;
  }
  #btn__ab__test {
    display: none !important;
  }
}



.hide {
  text-align: center;
  font: "Montserrat";
  font-weight: 400;
  font-size: 2.5vw;
  position: absolute;
  bottom: 20%;
  color:rgb(255, 255, 255);
  transition: 350ms;
  opacity: 0;
  pointer-events: none;
}

#hideicon {
  position: absolute;
  width: 30%;
  color:rgb(255, 255, 255);
  transition: 350ms;
  display: block;
  opacity: 0%;
  pointer-events: none;
  transform:scale(0.45)
}

.thumbnail__example:hover + .hide {
  display: block;
  opacity: 100%;
}

.thumbnail__example:hover ~ #hideicon {
  display: block;
  opacity: 100%;
  transform: scale(0.5)
}

.body__contents {
  justify-content:center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;

}

@media screen and (max-width:1200px) {
  .body__contents {
    flex-wrap: wrap;
    align-self: left;
  }

  .body__contents__right {
    margin-top: 50px;
  }

  .topic {
    display: none;
  }

  .subtopic {
    display: none;
    margin-bottom: 50px;
  }
  
  .body__contents__left {
    width: 690px;

  }

  .header {
    justify-content: center;
  }

  .body__contents {
    padding-top: 50px;
  }

  .body__contents__right {
    padding-right: 50px;
  }


}



.body__contents__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
  align-items: stretch;

}

.explainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px;
    cursor: default;
}

.topic {
    text-align: center;
    font-family: "Montserrat";
    letter-spacing: -2px;
    font-size: 34px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 12px;
}

.darkmode .topic {
  color: white;
}

.subtopic {
    text-align: center;
    font-size: small;
    font-weight:400;
    color: rgb(167, 167, 167);
}

.darkmode .subtopic  {
  color: var(--color-secondary);
}

.darkmode .subtopic a {
  color: var(--color-secondary);
}

.utility {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ftitle {
  font-family: "Poppins";
  font-weight: 600px;
}

.ftitle {
  padding: 5px;
}

.ffile {
  padding: 5px;

}

.label {
  font-family: "poppins";
  color: black;
}

.darkmode .label {
  color: white;
}

input[type="file"]::file-selector-button {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  width: 150px;
  height:40px;
  border: 2px solid #ffffff;
  border-radius: 360px;
  background: none;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.2s;
}

.darkmode input[type="file"]::file-selector-button  {
  color: black;
  background-color: white;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgb(48, 48, 48);
  transform: scale(1.03);
}

.darkmode input[type="file"]::file-selector-button:hover {
  background-color: rgb(226, 226, 226);
}


input[type=file] {
  font-family: "Poppins";
  color:var(--color-secondary);
}

input[type=text], select {
  font-family: "Poppins";
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 12px;
}
.wrapper__btn__submit {
  display: flex;
}




  .btn__submit {
    padding: 5px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    border: 0px solid #ffffff;
    border-radius: 360px;
    width: 150px;
    height: auto;
    background: none;
    cursor: pointer;
    color: white;
    background-color: red;
    transition-duration: 0.2s;
  }

.btn__submit:hover {
    background-color: rgb(237, 0, 0);
    transform: scale(1.03);
}

#btn__copy__title, #btn__copy__titleB {
  padding: 5px;
  margin-left: 5px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  border: 0px solid #ffffff;
  border-radius: 360px;
  width: 150px;
  height:41px;
  background: none;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.2s;
}


.darkmode #btn__copy__title {
background-color: white;
color: black;
}

#btn__copy__title:hover, #btn__copy__titleB:hover {
  background-color: rgb(48, 48, 48);
  transform: scale(1.03);
}

.darkmode #btn__copy__title:hover {
  background-color: rgb(226, 226, 226);
}

.preview__api__wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.preview__frame {
  width: 100%;
  height: 600px;
}


#btn__toggle__darkmode span {
  transition: 0ms;
}

#btn__randomize__order span {
  transition: 0ms;
}


.button1 {
  padding: 5px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  border-radius: 360px;
  border: 0;
  width: 150px;
  background: none;
  cursor: pointer;
  color: white;
  background-color: red;
  transition-duration: 0.2s;
}

.button1:hover {
  background-color: rgb(237, 0, 0);
  transform: scale(1.03);
  border: 0;

}

.button2 {
  padding: 5px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
 /* border: 2px solid #ffffff;*/
  border-radius: 360px;
  width: 150px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.2s;
}

.button2:hover {
  background-color: rgb(48, 48, 48);
  transform: scale(1.03);
}

.darkmode .button2 {
  background-color: white;
  color: black;
}

.controls__container__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls__container {
  display:flex;  
}

.controls__container__right {
  display: flex;
  justify-self: right;
}

#btn__randomize__order, #btn__place__first, #btn__toggle__mobile, #btn__ab__test {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin-right: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  border: 0px solid #ffffff;
  border-radius: 360px;
  width: 180px;
  background: none;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.2s;
  margin-bottom:20px;
}

.darkmode #btn__randomize__order, .darkmode #btn__place__first, .darkmode #btn__toggle__mobile  {
  background-color: white;
  color: black;
}

#btn__randomize__order:hover, #btn__place__first:hover, #btn__toggle__mobile:hover {
  background-color: rgb(48, 48, 48);
  transform: scale(1.03);
}

.darkmode #btn__randomize__order:hover, .darkmode #btn__place__first:hover, .darkmode #btn__toggle__mobile:hover  {
  background-color: rgb(214, 214, 214);
}



#btn__place__first, #btn__toggle__mobile {
  width: 70px;
}

#btn__toggle__darkmode {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  border: 0px solid #ffffff;
  border-radius: 360px;
  width: 200px;
  background: none;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.2s;
  margin-bottom:20px;
  margin-right: 10px;
}
.darkmode #btn__toggle__darkmode  {
  background-color: white;
  color: black;
}
#btn__toggle__darkmode:hover {
  background-color: rgb(48, 48, 48);
  transform: scale(1.03);
}

.darkmode #btn__toggle__darkmode:hover  {
  background-color: rgb(214, 214, 214);
}

#btn__ab__test {
  background-color: rgb(25, 57, 163);
  width: 150px;
}

#btn__ab__test:hover {
  filter:brightness(1.2);
  transform:scale(1.03);
}



.more__info {
    display: flex;
    direction: column;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 100px;
    padding-top: 100px;
    justify-content: center;
}

@media screen and (max-width:992px) {
  .more__info {
    display: none;
  }
}

.more__info__contents {
    padding: 60px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0px 0px 8px rgb(225, 225, 225);
}

.darkmode .more__info__contents {
  background-color: rgb(24, 24, 24);
  box-shadow: 0px 0px 8px rgb(0, 0, 0);

}





.more1 {
    letter-spacing: -2px;

}

.more2 {
    font-family: "Poppins";
    font-weight: 500;
    color: rgb(49, 48, 53);
}

.more2 a {
  color: rgb(49, 48, 53);
}

.darkmode .more2 {
  color: white;
}

.darkmode .more2 u a {
  color: white;

}

.darkmode .more1 {
  color: white;
}

.buttons {
    display: flex;
    direction: row;
    padding-top: 35px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    gap: 300px;
}

.more__info__smallpage {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.more__info__smallpage__txt {
  font-size: medium; 
  padding-bottom: 15px;
}

.darkmode .more__info__smallpage__txt {
  color: white;
}

@media screen and (max-width: 992px) {
  .more__info__smallpage {
    display: flex;
  }

}

.btn__wrapper {
  padding: 5px;
}


.footer {
  color: rgb(29, 30, 35);
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 50px;
}

.darkmode .footer {
  color: rgb(184, 184, 184);
}


.redmode {
  background-color: red !important;
  color: white !important;
  transition: 0ms !important;
}

#popup__ab__test.unfocus {
  opacity: 100%;
  pointer-events: all;
}

#popup__ab__test {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 12%;
  top: 5%;
  background-color: white;
  width: 74%;
  max-height: 90%;
  border-radius: 30px;
  opacity: 0%;
  pointer-events: none;
  justify-content: space-between;
  font-family:'Roboto' , sans-serif;
  padding: 3%;
  padding-top: 1%;
}

.preview__A, .preview__B {
  width: 33svw;
  align-self: flex-end;
  border-radius: 2svh;
  transition: 0ms;
}


.abtest__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

@media screen and (max-width: 660px) {
  .abtest__top {
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
  }
  #popup__ab__test {
    height: 95%;
  }
  .preview__A, .preview__B {
    width: 55svw;
  }
}

.abtest__left, .abtest__right {
  align-content: center;
  margin: 1%;
}

.abtest__vidinfo {
  margin-top: 0.7svw;
  display: flex;
}


.abtest__pfp {
  width: 3.6svw;
  height: 3.6svw;
  border-radius: 999px;
  margin-right: 0.6svw;
}

.description__text {
  color: gray;
}

.abtest__title {
  font-weight: 500;
  color: black;
}

.abtest__bottom {
  margin-top: 10px;
}

.abtest__bottom input[type="file"]::file-selector-button {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  width: 150px;
  height:40px;
  border: 2px solid #ffffff;
  border-radius: 360px;
  background: none;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.2s;
}

.darkmode .abtest__bottom input[type="file"]::file-selector-button {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  width: 150px;
  height:40px;
  border: 2px solid #ffffff;
  border-radius: 360px;
  background: none;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  transition-duration: 0.2s;
}

.darkmode .abtest__bottom .label {
  color: black;
}



/* FONT STUFF */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }



  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  